<div class="canvas-container bg-dark flex-column">
  <canvas id="pieChart" width="400" height="350"></canvas>
  <div class="flex-column text-center">
    <div>
      <div class="circle" style="background-color: #0071eb"></div>
      <span>Three-Point Goals</span>
    </div>
    <div>
      <div class="circle" style="background-color: #ff7200"></div>
      <span>Field Goals</span>
    </div>
    <div>
      <div class="circle" style="background-color: #ff0000"></div>
      <span>Free Throws</span>
    </div>
  </div>
</div>
